# Игнорируем скомпилированные файлы
target/
*.jar
*.war
*.ear
*.class

# Игнорируем служебные файлы IDE
.idea/
*.iml
*.iws
.vscode/
*.swp
*.swo

# Игнорируем логи
*.log

# Игнорируем временные файлы
*.tmp
*.temp